*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

.idea/*
.DS_Store
/build
/captures
.externalNativeBuild

# not ignore
!.idea/codeStyleSettings.xml
!.idea/icon.png
!.idea/icon_dark.png
